@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Laila', sans-serif;
    
}

nav{
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all .25s ease-in-out;
}
nav ul li a:hover{
    border-bottom: 3px solid white;
}
section{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./img/cake.jpg");
    color: #ffff;
    gap: 5vh;
    background-size: cover;
    background-position: center;
}

.titulo{
    font-size: 6rem;
}

#about{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    background-color: #F8D9D5;
    padding: 0px 50%;
    
}

.about1, .about2, .about3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about1-img{
    background: url("./img/doce1.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-top: 28px;
    
}

.about2-img{
    background: url("./img/doce2.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
   
    
}

.about3-img{
    background: url("./img/doce3.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    
}

.about-msg{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

.about1-img:hover{
    background: url("./img/doce4.png");
    background-size: cover;
    background-position: center;
    transition: all .60s ease-in-out;
}
.about2-img:hover{
    background: url("./img/doce5.webp");
    background-size: cover;
    background-position: center;
    transition: all .60s ease-in-out;
}
.about3-img:hover{
    background: url("./img/doce6.webp");
    background-size: cover;
    background-position: center;
    transition: all .60s ease-in-out;
}

#us{
    gap: 6.5vh;
    background-color: #D8E2EC;
   
}

.p1,.p2,.p3, .p4{
    width: 70vw;
    margin-left: 25%;
    padding: 15px;
    
}

.p1{
    border-left: 2px solid #025159;
}

.p2{
    border-left: 2px solid #DC9855;
}

.p3{
    border-left: 2px solid #816432;
}
.p4{
    border-left: 2px solid #B8B89F;
}

#contact{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./img/doce7.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    align-items: flex-start;
    
}

h3{
    font-size: 3rem;
    border-bottom: 6px solid #F8D9D5;
    color: #F8D9D5;
    margin-bottom: 2vh;
    margin-left: 40%;
}
.message{
    width: 17,4vw;
    margin-left: 40%;
   
}

.text-box{
    width: 22vw;
    font-size: 1rem;
    border-bottom: #F2E4F9 2px solid;
    padding: 5vh 0;
    color: white;
}

.text-box i{
    float: left;
    text-align: center;
    width: 3vw;
}
.text-box input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.2rem;
    float: left;
}

.btn{
    margin-left: 40%;
    margin-top: 6vh;
    font-size: 1.6rem;
    color: white;
    background: transparent;
    border: #F2E4F9 2px solid;
    padding:  0 2vw;
    cursor: pointer;
    width: 21%;
}

.btn:hover{
    transition: ease-out 1s ;
    box-shadow: inset 400px 0 0 0 #F2E4F9;
    color: #3F303F;
}
footer{
    display: flex;
    
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
}
footer ul{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    gap: 6vw;
    margin-top:  7vh;
    margin-bottom: 7vh;
    margin-left: 5%;
    
}

footer ul li{
    position: relative;
    list-style: none;
    width: 4vw;
    height: 8vh;
    margin: 0 10px;
    
    
}

footer ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #F2E4F9;
    color: #3F303F;
    font-size: 1.2rem !important;
    border-radius: 50%;
    border: 2px solid transparent;
}

footer ul li:hover span{
    transition: all .8s ease-in-out;
    color: #F2E4F9;
}
footer ul li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.2;
    
}
footer ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.5;
}
footer ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.8;
}
footer ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.10;
}
footer ul li:nth-child(1):hover span{
    background-color: #3b5998;
}
footer ul li:nth-child(2):hover span{
    background-color: #34af23 ;
}
footer ul li:nth-child(3):hover span{
    background-color: #517fa4 ;
}
footer ul li:nth-child(4):hover span{
    background-color: #00aced;
}

.localization{
     margin: 7vh 20vw;
    
     
}
h4{
    font-size: 1.3rem;
    padding-bottom: 5px;
}

/* Tablet */
@media(max-width:1035px){
    .p1,.p2,.p3, .p4{
        width: 50vw;
        margin-left: 5%;
    }

    .text-box{
       
        padding: 1vh 0;
       
    }
    .text-box input{
        padding-bottom: 1px;
        padding-top: 1px;
        margin-bottom: 0;
       float: none;
    }
    footer ul{
        
        gap: 6vw;
        margin-top:  3vh;
        margin-bottom: 3vh;
        margin-left: 5%;
        
    }

    footer ul li{

        width: 4vw;
        height: 6vh;
        margin-top: 10px;
        
        
        
    }
    .localization{
        margin: 3vh 10vw;
       
        
   }
   

}
@media(max-width:960px){
    
   .about3-img{
    margin-right: 22px;
   }
    
    .p1,.p2,.p3, .p4{
        width: 50vw;
        margin-left: 5%;
       
        
    }
    .text-box{
        width: 38vw;
        font-size: 1.5rem;
        padding: 2px 0;
     
    }
    .text-box input{
       
        font-size: 1.2rem;
     
    }
    .btn{
        width: 38vw;
    }

    footer ul{
        
        gap: 6vw;
        margin-top:  3vh;
        margin-bottom: 3vh;
        margin-left: 5%;
        
    }

    footer ul li{

        width: 4vw;
        height: 6vh;
        margin-top: 10px;
        
        
        
    }
    .localization{
        margin: 3vh 10vw;
       
        
   }

}

@media(max-width:920px){
    nav{

        text-align: start;
        padding-left: 15vw;
    }
    section{
      
        max-width: 100vw;
        min-height: 80vh;
       
    }
    #about{
        display: flex;
        flex-direction: column;
        padding: 2% 10%;
    }
    .p1,.p2,.p3, .p4{
        font-size: 1.3rem;
    }
    
    h3{
        margin-left: 30%;
    }
    .message{
       
        margin-left: 30%;
        
       
    }
    .text-box{
        width: 38vw;
        font-size: 1.5rem;
        
        padding: 2px 0;
       
    }

 
    .text-box i{

        padding-bottom: 5px;
        
    }
    .text-box input{
       
        font-size: 1.4rem;
        
        
    }
    
    .btn{
        margin-left: 30%;
        width: 38%;
    }

    footer{
        max-width: 100vw;
        
    }

    footer ul{
       
        gap: 3vw;
        margin-top:  3vh;
        margin-bottom: 3vh;
        
        
    }
    
    footer ul li{
    
        width: 4vw;
        height: 4vh;
       
        
        
    }
    .localization{
        margin: 3vh 3vw;
        margin-left: 25%;
        max-width: 25vw;
       
        
   }

}
  
   @media (max-width:550px) {
    
    body{
        max-width: 100vw;
    }
    section{
      
        width: 100%;
        min-height: 80vh;
       
    }
   
    .titulo{
       
        text-align: center;
        font-size: 5rem;
    }
    .p1,.p2,.p3, .p4{
        height: 10vh;
        width: 90vw;
        margin-left: 15%;
        padding: 25px;
        font-size: .8rem;
        
    }
    .text-box{
        width: 43vw;
        font-size: 1rem;  
    }

 
    .text-box i{

        padding-bottom: 5px;
        padding-top: 2px;
        
    }
    .text-box input{
       
        font-size: 1.2rem;
        
        
    }
    .btn{
        
        width: 43%;
    }
   
    footer ul{
       
        gap: 3vw;
        margin-top:  3vh;
        margin-bottom: 0vh;
        
        
    }
    
    .localization{
        margin: 1vh 3vw;
        margin-left: 20%;
        width: 40vw;
        font-size: .7rem;
       
        
   }

   .localization h4{
    font-size: 1rem;
   }


   }
   @media (max-width:425px){
    nav{

        padding-left: 5vw;
    }
    h3{
        margin-left: 20%;
    }
    .message{
       
        margin-left: 20%;
    }

    .text-box{
        width: 56vw;
    }
    .btn{
        margin-left: 20%;
        width: 56%;
    }
    footer ul li{
    
        width: 5.5vw;
        
    }

   }
   @media(max-width:380px){
    nav{

        padding-left: 1.5vw;
    }

    .subtitulo{
       padding-left: 3vw; 
       font-size: 1.2rem;
    }
    .text-box{
        width: 62vw;
    }
    .btn{
        width: 62vw;
    }
   }

   @media(max-width:370px){
    nav{

        padding-left: 10vw;
        gap: .2vw;
        font-size: .8rem;
    }

    .text-box{
        width: 64vw;
    }
    .btn{
        width: 64vw;
    }
    .localization{
        margin-left: 10%;
   }
  
   }
   @media(max-width:295px){
    nav{

        padding-left: 6vw;
       
        font-size: .6rem;
    }
    .subtitulo{
        font-size: 1rem;
    }
    .p1,.p2,.p3, .p4{
        height: 7vh;
        margin-left: 15%;
        padding: 0 20px;
        font-size: .6rem;
        
    }
    h3{
        margin-left: 15%;
        font-size: 2rem;
    }
    .message{
       
        margin-left: 15%;
        
       
    }
    .text-box{
        
        font-size: .9rem;
    }
    .text-box input{
     
        width: 64vw;
    }
    .btn{
        margin-top: 15px;
        margin-left: 15%;
        height: 6vh;
        font-size: 1rem;
    }
    .localization{
        margin-left: 3%;
        
   }
  
   }
    

    
   
    
  

