@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Laila', sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all .25s ease-in-out;
}
nav ul li a:hover{
    border-bottom: 3px solid white;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./img/cake.jpg");
    color: #ffff;
    gap: 5vh;
}

.titulo{
    font-size: 6rem;
}

#about{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    background-color: peru;
    padding: 0px 50%;
    
}

.about1, .about2, .about3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about1-img{
    background: url("./img/doce1.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-top: 28px;
    
}

.about2-img{
    background: url("./img/doce2.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
   
    
}

.about3-img{
    background: url("./img/doce3.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    
}

.about-msg{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

.about1-img:hover{
    background: url("./img/doce4.png");
    background-size: cover;
    background-position: center;
    transition: all .60s ease-in-out;
}
.about2-img:hover{
    background: url("./img/doce5.webp");
    background-size: cover;
    background-position: center;
    transition: all .60s ease-in-out;
}
.about3-img:hover{
    background: url("./img/doce6.webp");
    background-size: cover;
    background-position: center;
    transition: all .60s ease-in-out;
}